/**在 WXML 中，这些自定义数据以 data- 开头，多个单词由连字符 - 连接。这种写法中，连字符写法会转换成驼峰写法，而大写字符会自动转成小写字符。如：
data-element-type ，最终会呈现为 event.currentTarget.dataset.elementType ；
data-elementType ，最终会呈现为 event.currentTarget.dataset.elementtype 。 */


var newDate = lastDate = 0;
/**监听上方日期栏事件，点击时修改背景颜色，并将上一次修改还原 
 * 还需要同步swiper状态
*/
function tapDate(event,ins){
  lastDate = newDate;
  newDate = event.currentTarget.dataset.iDate;
  /**将上一次选择的日期背景改为none，再修改这一次的日期背景 */
  ins.selectComponent('#timeline_date'+ lastDate +' .timeline_week').setStyle({
    "background-color" : 'rgba(0,0,0,0)',
  })
  ins.selectComponent('#timeline_date'+ newDate +' .timeline_week').setStyle({
    "background-color" : '#87ceeb',
  })
  /**wxs调用的callMethod函数，用于同步header与swiper状态 */
  ins.callMethod('syncSwiper',newDate);
  return false;
  /**  console.log(JSON.stringify(event)); */
}

/**监听下方活动栏事件，change时同步改变日期栏 */
function changeSwiper(event,ins){
    lastDate = newDate;
    newDate = event.detail.current;
    /**将上一次选择的日期背景改为none，再修改这一次的日期背景 */
    ins.selectComponent('#timeline_date'+ lastDate +' .timeline_week').setStyle({
        "background-color" : 'rgba(0,0,0,0)',
    })
    ins.selectComponent('#timeline_date'+ newDate +' .timeline_week').setStyle({
        "background-color" : '#87ceeb',
    })
}

module.exports = {
  tapDate: tapDate,
  changeSwiper: changeSwiper,
}