/**在 WXML 中，这些自定义数据以 data- 开头，多个单词由连字符 - 连接。这种写法中，连字符写法会转换成驼峰写法，而大写字符会自动转成小写字符。如：
data-element-type ，最终会呈现为 event.currentTarget.dataset.elementType ；
data-elementType ，最终会呈现为 event.currentTarget.dataset.elementtype 。 */


/**监听上方日期栏事件，点击时修改背景颜色，并将上一次修改还原 
 * 还需要同步swiper状态
*/
var newDate = lastDate = 0;
function tapDate(event,ins){
  var data = {
    /**date编号，0~6 */
    iDate: event.currentTarget.dataset.iDate,
  }
  lastDate = newDate;
  newDate = data.iDate;
  /**将上一次选择的日期背景改为none，再修改这一次的日期背景 */
  ins.selectComponent('#date'+ lastDate +' .week').setStyle({
    "background-color" : 'rgba(0,0,0,0)',
  })
  ins.selectComponent('#date'+ newDate +' .week').setStyle({
    "background-color" : '#87ceeb',
  })
  /**wxs调用的callMethod函数，用于同步header与swiper状态 */
  ins.callMethod('syncSwiper',newDate);
  return false;
  /**  console.log(JSON.stringify(event)); */
}

function changeSwiper(event,ins){
    console.log(JSON.stringify(event));
    var state = event.getState();
    var current = state.current;
    console.log(current);    
}

module.exports = {
  tapDate: tapDate,
  changeSwiper: changeSwiper,
}